/* 
CSS Loader. Credit: http://codepen.io/tmyg/pen/bwLom 
==================================================================
*/
#spin {
    width: 50px;
    height: 50px;
    background: #aaa;
    margin: 0 auto;
    position: relative;
    display: none;
}

#spin:after {
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background: $bg;
    top: 10%;
    left: 10%;
}

#spin span em {
    background: $sec;
    -webkit-animation-duration: 3s;
}

/* No need to edit below this line */
@-webkit-keyframes rotate-rt {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


@-webkit-keyframes rotate-lt {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


#spin {
    border-radius: 100%;
    position: relative;
}

#spin span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#spin span:first-child {
    left: 0;
}

#spin span:last-child {
    left: 50%;
}

#spin span em {
    border-radius: 999px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#spin span:first-child em {
    left: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-animation-name: rotate-lt;
    -webkit-transform-origin: 0 50%;
}

#spin span:last-child em {
    left: -100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-animation-name: rotate-rt;
    -webkit-transform-origin: 100% 50%;
}
